///VARIABLES

//colors

//gradient

//font

//shadows

//RESPONSIVE BREAKPOSNTS

$bp-largest: 62.5em; //1000px
$bp-large: 50em; //800px
$bp-medium: 34.375em; //550px
$bp-small: 25em; //400px

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    &:link,
    &:visited {
        color: initial;
        text-decoration: none;
    }
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
